<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <test name="LoginTest">
        <packages>
            <package name="com.abmcloud.cf.test.AppForm"></package>
            <package name="com.abmcloud.cf.test.AppList"></package>
        </packages>
    </test>
</suite>